.title {
  font-size: 1rem;
  font-family: "Google Sans", sans-serif;
  font-weight: 700;
  color: darkgray;
  margin-bottom: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;

  width: 250px;
  height: 500px;
  padding: 1rem;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.image {
  width: 200px;
  height: 200px;
  border: 1px solid rebeccapurple;
}

.description {
  font-size: 1rem;
  color: #555;
}

.price {
  font-size: 1.2rem;
  color: #28a745;
  font-weight: bold;
}

.rating {
  color: #ffc107;
  font-size: 1rem;
}

.stock {
  font-size: 0.9rem;
  color: #dc3545;
}

.discount {
  font-size: 0.9rem;
  color: #17a2b8;
}

.buttonAddToCart {
  background-color: #28a745;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonAddToCart:hover {
  background-color: #218838;
}

.buttonWishlist {
  background-color: #ffc107;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonWishlist:hover {
  background-color: #e0a800;
}
