.header {
  width: 100%;
  height: 60px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navItem {
  font-size: 16px;
  color: #343a40;
  text-decoration: none;
}

.logo {
  width: 300px;
  height: 200px;
  background-color: var(--darkgray);
  color: var(--white);
  font-size: 60px;
  font-family: "Arial Black", sans-serif;
}
