.header {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  width: 100%;
  height: auto;
  padding: 12px;
  background-color: var(--black);
}
