.nav {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkgray);
}

.navList {
  list-style: none;
  display: flex;
  gap: 8px;
}

.navItem {
  width: auto;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: var(--white);
  text-decoration: none;
  background-color: var(--mediumgray);
  padding: 8px 12px;
}

.navItem:hover {
  background-color: var(--gray);
  transition: background-color 0.3s, color 0.3s;
}
